body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,ff3200+99 */
  background: #f0b7a1; /* Old browsers */
  background: -moz-linear-gradient(left,  #f0b7a1 0%, #ff3200 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #f0b7a1 0%,#ff3200 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #f0b7a1 0%,#ff3200 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#ff3200',GradientType=1 ); /* IE6-9 */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
